.logoEntreprise{
    max-width: 90px;
    height: 90px;
    
   }

   .logoEntreprise1{
    width: 200px;
    height: 90px;
   
   }
   .logoEntreprise2{
    width: 90px;
    height: 90px;
   
   }
   .logoEntreprise{
    width: 120px;
    height: 90px;
   
   }
   .logoEntreprise4{
    width: 140px;
    height: 90px;
   
   }
   .logoEntreprise5{
    width: 150px;
    height: 90px;
   
   }
   
   .logoEntreprise6{
    width: 150px;
    height: 90px;
   
   }
   .logoEntreprise7{
    width: 150px;
    height: 90px;
   
   }
   